body {
  margin: 0;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: Arial;
}

#myCanvas {
  background-color: #2a5;
}

.zoom-controls {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.zoom-controls > .btn {
  margin-bottom: 5px;
  font-size: 1em;
  height: 6vh;
  min-height: 25px;
  width: 6vh;
  min-width: 25px;
}
